@import './Colors';

.ControlBox {
  display: flex;
  margin: .5rem auto;
  width: max-content;
  border: 2px solid $border-color;

  :nth-child(n) {
    font-size: 1.25rem;
    margin: .25rem;
  }
}

.Button {
  border-radius: 2px;
  border-width: 0;
  background: $button-color;
}
