@import '../Common/Styles/Colors';

.Window {
  height: 79.85vh;
  border-top: 2px solid $border-color;

  &.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    &.Two {
      grid-template-rows: auto 4rem;

      .AddComparison {
        grid-column-end: span 2;
      }
    }

    .AddComparison > button {
      margin-top: 1.5rem;
    }
  }

  .AddComparison > button {
    font-size: 1.5rem;
  }
}
