.Window {
  height: 89.5vh;

  &.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    &.Two {
      grid-template-rows: auto 6rem;

      .AddComparison {
        grid-column-end: span 2;
      }
    }
  }

  .AddComparison > button {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
